<div class="auth-container">
  <h2>Registrar</h2>
  <form action="/register" method="post">
    <div class="form-control">
      <label for="name">Nome:</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Digite seu nome"
        required
      />
    </div>
    <div class="form-control">
      <label for="email">E-mail:</label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Digite seu e-mail"
        required
      />
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Digite sua senha"
        required
      />
    </div>
    <div class="form-control">
      <label for="confirmpassword">Confirmação de senha:</label>
      <input
        type="password"
        name="confirmpassword"
        id="confirmpassword"
        placeholder="Confirme sua senha"
        required
      />
    </div>
    <input type="submit" value="Cadastrar" />
    <p>Já tem conta? <a href="/login">Clique aqui!</a></p>
  </form>
</div>